<!-- nav bar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container">
    <a href="/" class="navbar-brand">
      <img src="images/logo.png" alt="logo" width="225" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="/" class="nav-link fw-semibold">Home</a>
        </li>
        <li class="nav-item">
          <a href="#details" class="nav-link fw-semibold">Details</a>
        </li>
        <li class="nav-item">
          <a href="/" class="btn btn-outline-light fw-semibold px-4 mx-4"
            >Contacts</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
